


.bg_img{
  background-image: url('../../assets/images/Mask\ Group\ 4.png') ;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: -1;
  border-top-right-radius: 7px;
}

.icon__button {
  position: absolute;
  float: right;
  margin-top: -10rem;

}

.icon__style {
  border-radius: 50%;
  background-color: white;
}

.logo{
  position: absolute;
  margin-top: -3rem;
}

.logo__style {
  position: absolute;
  top: 50%;
  left: 10%;

  
}

.logo__icon {
  margin: 20px 30px 10px -13px;
  background-color: white;
  border-radius: 50%;
}





@media screen and (max-width: 1600px){
  .logo__style {
    top: 45%;

    left: 10%;
  }
}



@media screen and (max-width: 768px){
  .logo__style {
    top: 50%;
    transform: translateY(-80%);
    left: 5%;
  }
}



@media screen and (max-width: 480px){
  .logo__style {
    top: 55%;
    transform: translateY(-55%);
  }
}
