@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.paper__style {
  padding: 40px;
  margin-bottom: 50px;
  font-family: 'Lora';


}


.benefits {
  display: flex;
  justify-content: space-between;
}

.benefit__button {
  border: 1px solid black;
  border-radius: 30px;
  padding: 7px 20px;
}

.skip__button {
  border: 1px solid black;
}
